In [4]:
import pandas as pd


dl_file = pd.read_csv('submission.csv')
th_file = pd.read_csv('submission_th.csv')
rf_file = pd.read_csv('submission_rf.csv')

In [5]:
dl_file['price'] = dl_file['price'] * 0.4 + th_file['price'] * 0.4 + rf_file['price'] * 0.2
dl_file

                             id          price
0     700010085020140926T000000  719222.303019
1     403740028020140923T000000  483267.333408
2     142340016020140618T000000  199212.239157
3     776740006020141119T000000  450927.022239
4     946590050020140617T000000  583153.894384
...                         ...            ...
4317  733822037020141006T000000  323154.589459
4318  681910015020140721T000000  608849.773679
4319  082405914020140527T000000  916707.880078
4320  051450009020140513T000000  535711.511862
4321  770180005020140625T000000  411733.548901

[4322 rows x 2 columns]

In [6]:
dl_file.to_csv('submission_mix.csv', index=False)